%tr.sensor-reading-row
  %td= reading.id
  %td= reading.created_at
  %td= reading.calibrated_value
  %td= reading.uncalibrated_value
  = binding.pry
  %td= link_to 'Delete', report_sensor_reading_path(@report, @sensor, reading), method: :delete, remote: true, :class => "btn btn-secondary"
