%p#notice= notice

%p
  %b Name:
  = @actor.name
%p
  %b Port:
  = @actor.port
%p
  %b Function:
  = @actor.function

= link_to 'Edit', edit_actor_path(@actor), :class => "btn btn-primary"
= link_to 'Back', actors_path, :class => "btn btn-secondary"
