- if record.live?
  %h3.main-heading= "#{record.heading} (aktuell generiert)"
- else
  %h3.main-heading= "#{record.heading} (#{record.created_at.in_time_zone(Report::TIME_ZONE).strftime(Report::DATE_TIME_FORMAT)})"
%p
  %strong
    = record.introduction
  %em
    Autor: Sensor Live System
= record.main_part.html_safe
%p
  = record.closing
- if record.question_answers
  - record.question_answers.each do |qa_array|
    - qa_array.each do |qa|
      %p
        = button_tag qa.question, data: {:resi => qa.id}, :class => "resi-question btn btn-primary"
        %p{'class' => 'resi-answer', 'data-resi' => qa.id}= qa.answer

