- if record.live?
  %h3.main-heading= "#{record.heading} (aktuell generiert)"
- else
  %h3.main-heading= "#{record.heading} (#{record.created_at.in_time_zone(Report::TIME_ZONE).strftime(Report::DATE_TIME_FORMAT)})"
%p
  %strong
    = record.introduction
  %em
    Autor: Sensor Live System
%p
  = record.main_part.html_safe
%p
  = record.closing
