- content_for :heading do
  = "Edit “#{@event.name}”"

= render 'form'

%h3 Event Activations
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Id
      %th Started at
      %th Ended at
  %tbody#event-activations
    = render @event.activations.order(:started_at)

= link_to 'Back', events_path, class: 'btn btn-secondary'
= render 'events/activation/button', event: @event
