%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      - if user_signed_in?
        %th
        %th
        %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        - if user_signed_in?
          %td= render 'events/activation/button', event: event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if user_signed_in?
  = link_to 'New Event', new_event_path, :class => "btn btn-primary"
