%h1 Actuators
%hr
%strong Actuators are devices connected to a port at reporter.box. The reporter.box can switch them on and off. This ist done with chains. These are all your actuators:
%hr
%h3 Manage Actuators
%strong Do you have a new device you would like to connect to the Sensor-Live-Report? Create a new actuator!
%p
=link_to new_actuator_path, {:class => "btn btn-primary btn-lg"} do
  %span.glyphicon.glyphicon-plus-sign
  Create new actuator

%hr
%h3 Listing Actuators
%strong This is a list off all actuators.
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Port
      %th
      %th
      %th

  %tbody
    - @actuators.each do |actuator|
      %tr
        %td= actuator.name
        %td= actuator.port
        %td= link_to 'Show', actuator
        %td= link_to 'Edit', edit_actuator_path(actuator)
        %td= link_to 'Destroy', actuator, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br