%p#notice= notice

%p
  %b Name:
  = @actuator.name
%p
  %b Port:
  = @actuator.port
%p
  %h3 Commands
  %table.table.table-striped.table-hover
    %tr
      %th Id
      %th Created at
      %th Function
      %th Executed
      = render @actuator.commands

- if user_signed_in? || Rails.env.test?
  %p
    = button_to 'Activate', [:activate, @actuator], {class: 'btn btn-primary'}
  %p
    = button_to 'Deactivate', [:deactivate, @actuator], {class: 'btn btn-danger'}

- if user_signed_in?
  = link_to 'Edit', edit_actuator_path(@actuator), :class => "btn btn-primary"


= link_to 'Back', actuators_path, :class => "btn btn-default"
