%p#notice= notice

%p
  %b Name:
  = @actuator.name
%p
  %b Port:
  = @actuator.port
%p
  %h3 Commands
  %table.table.table-striped.table-hover
    %tr
      %th Id
      %th Created at
      %th Value
      %th Executed
      = render @actuator.commands
%p
  = button_to 'Activate', [:activate, @actuator], {class: 'btn btn-primary'}

= link_to 'Edit', edit_actuator_path(@actuator), :class => "btn btn-primary"
= link_to 'Back', actuators_path, :class => "btn btn-secondary"
