%h1 Listing chains

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Actuator
      %th Function
      %th Hashtag
      %th
      %th
      %th

  %tbody
    - @chains.each do |chain|
      %tr
        %td= chain.actuator_name
        %td= chain.function
        %td= chain.hashtag
        %td= link_to 'Show', chain
        - if user_signed_in?
          %td= link_to 'Edit', edit_chain_path(chain)
          %td= link_to 'Destroy', chain, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %td
          %td

%br

- if user_signed_in?
  = link_to 'New Chain', new_chain_path, class: 'btn btn-primary'
