%p#notice= notice

%p
  %b Actuator:
  = @chain.actuator
%p
  %b Function:
  = @chain.function
%p
  %b Hashtag:
  = @chain.hashtag

- if user_signed_in?
  = link_to 'Edit', edit_chain_path(@chain)
  \|
= link_to 'Back', chains_path
