%h1 View Chain
%hr
%i.fa.fa-info-circle
%strong Chains connect social media triggers with specific actuators performed by reporter.box. e.g: A tweet with hashtag "#light_on" will switch a light bulb connected to a reporter box on. What should this one do?
%hr
%p#notice= notice

%p
  %b Actuator:
  = @chain.actuator_name
%p
  %b Function:
  = @chain.function
%p
  %b Hashtag:
  = @chain.hashtag

= link_to 'Edit', edit_chain_path(@chain), :class => "btn btn-primary"
= link_to 'Back', chains_path, :class => "btn btn-secondary"
