= button_tag "Add Sensor Reading manually", :id => 'unhide_sensor_reading_form', :class => "btn btn-primary"

= form_tag "/sensor_readings/add", :id => 'sensor_reading_form', :method => "post", :remote => true do
  %h4 Add Sensor Reading manually
  = fields_for :sensor_reading do |f|
    = f.hidden_field :sensor_id, :value => @sensor.id
    = f.hidden_field :report_id, :value => @report.id
    = f.label :timestamp, "Timestamp"
    = f.text_field :timestamp, placeholder: 'YYYY-MM-DD HH-MM-SS'
    = f.label :calibrated_value, "Calibrated Value"
    = f.number_field :calibrated_value, step: 0.1, size: '6'
    = f.label :uncalibrated_value, "Uncalibrated Value"
    = f.number_field :uncalibrated_value, step: 0.1, size: '6'
    = f.submit "Add"
