= button_tag "Add Sensor Reading manually", :id => 'unhide_sensor_reading_form', :class => "btn btn-primary"

#sensor_reading_form.container
  = simple_form_for :sensor_reading, url: sensor_readings_path, remote: true do |f|
    %h4 Add sensor reading manually
    = f.hidden_field :sensor_id, :value => @sensor.id
    .form-group.row
      = f.input :created_at, as: :datetime, label: false
    .form-group.row
      = f.label :calibrated_value, "Calibrated Value", class: 'col-sm-4 col-form-label col-form-label-sm'
      .col-sm-2
        = f.number_field :calibrated_value, step: 0.1, size: '6', class: 'form-control form-control-sm'
      = f.label :uncalibrated_value, "Uncalibrated Value", class: 'col-sm-4 col-form-label col-form-label-sm'
      .col-sm-2
        = f.number_field :uncalibrated_value, step: 0.1, size: '6', class: 'form-control form-control-sm'
    .form-group
      = f.submit "Add", class: 'btn btn-primary'
