= simple_form_for([@report, @sensor]) do |f|
  = f.error_notification

  .form-inputs
    = f.association :report, selected: @report.id
    = f.input :name
    = f.input :address
    = f.association :sensor_type, label_method: :property, value_method: :id
    = f.input :animal_id, label: 'Animal Id (Smaxtec Api)'
    = f.input :device_id, label: 'Device Id (Smaxtec Api)'
  .form-group
    = f.button :submit
