= simple_form_for(@sensor, url: report_sensor_path(@report, @sensor)) do |f|
  = f.error_notification

  .form-inputs
    = f.association :report, :as => :hidden, :input_html => {:value => Report.current.id }
    = f.input :name
    = f.input :address
    = f.association :sensor_type, label_method: :property, value_method: :id

  .form-actions
  = f.button :submit
