<h1>Sensors</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Property</th>
    <th>Unit</th>
  </tr>
 
  <% @sensors.each do |sensor| %>
    <tr>
      <td><%= link_to sensor.name, sensor_path(sensor) %></td>
      <td><%= sensor.address %></td>
      <td><%= sensor.property %></td>
      <td><%= sensor.unit %></td>

    </tr>
  <% end %>
</table>
<%= link_to 'Add new sensor', new_sensor_path  %>
