%h1= @sensor.name
%p
  %strong ID:
  = @sensor.id
%p
  %strong Name:
  = @sensor.name
%p
  %strong Address:
  = @sensor.address

- if user_signed_in? && @sensor.animal_id?
  %p
    %strong Animal Id (Smaxtec Api):
    = @sensor.animal_id

%p
  %h3 Sensor Readings
  %table#sensor-readings-table-real.table.table-striped.table-hover
    %tr
      %th Id
      %th Timestamp
      %th Calibrated Value
      %th Uncalibrated Value
      = render @real_readings
  - if user_signed_in?
    %p
      = render "add_sensor_reading"
  %h3 Fake Data
  %table#sensor-readings-table-fake.table.table-striped.table-hover
    %tr
      %th Id
      %th Timestamp
      %th Calibrated Value
      %th Uncalibrated Value
      = render @fake_readings
- if user_signed_in?
  %p
    = render "generate_fake_sample_data"
  %p
    = render "calibration"
  %p
    = link_to 'Edit', edit_report_sensor_path(@report, @sensor), :class => "btn btn-primary"
    = link_to 'Destroy', report_sensor_path(@report, @sensor), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
  = link_to 'Back', report_sensors_path(@report), :class => "btn btn-secondary"
