%p
  %strong Name:
  = @sensor.name
%p
  %strong Address:
  = @sensor.address
%p
  %strong Property:
  = @sensor.property
  (#{@sensor.unit})
%h3 Sensor Readings
%table.table.table-striped.table-hover
  %tr
    %th Timestamp
    %th Calibrated Value
    %th Uncalibrated Value
  - @sensor.sensor_readings.each do |reading|
    %tr
      %td= reading.created_at
      %td= reading.calibrated_value
      %td= reading.uncalibrated_value
= link_to 'Edit', edit_sensor_path(@sensor), :class => "btn btn-primary"
= link_to 'Destroy', sensor_path(@sensor), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
= link_to 'Back', sensors_path, :class => "btn btn-secondary"
