%h1= @sensor.name
%p
  %strong ID:
  = @sensor.id
%p
  %strong Name:
  = @sensor.name
%p
  %strong Address:
  = @sensor.address
%p
  %h3 Sensor Readings
  %table#sensor-readings-table-real.table.table-striped.table-hover
    %tr
      %th Id
      %th Timestamp
      %th Calibrated Value
      %th Uncalibrated Value
      = render @real_readings
  %h3 Fake Data
  %table#sensor-readings-table-fake.table.table-striped.table-hover
    %tr
      %th Id
      %th Timestamp
      %th Calibrated Value
      %th Uncalibrated Value
      = render @fake_readings
%p
  = render "generate_fake_sample_data"
%p
  = link_to 'Edit', edit_sensor_path(@sensor), :class => "btn btn-primary"
  = link_to 'Destroy', sensor_path(@sensor), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
= link_to 'Back', sensors_path, :class => "btn btn-secondary"
