- content_for :heading do
  = @sensor.name

%p
  %strong ID:
  = @sensor.id
%p
  %strong Name:
  = @sensor.name
%p
  %strong Address:
  = @sensor.address

%p
  %strong Animal Id (Smaxtec Api):
  = @sensor.animal_id

%p
  %strong Data Collection Method:
  = @sensor.data_collection_method

%p
  %h3 Sensor Readings
  %table#sensor-readings-table-final.table.table-striped.table-hover
    %tr
      %th Id
      %th Timestamp
      %th Calibrated Value
      %th Uncalibrated Value
      = render @final_readings
  %p
    = render "add_sensor_reading"
  %h3 debug Data
  %table#sensor-readings-table-debug.table.table-striped.table-hover
    %tr
      %th Id
      %th Timestamp
      %th Calibrated Value
      %th Uncalibrated Value
      = render @debug_readings
%p
  = render "generate_debug_sample_data"
%p
  = render "calibration"
%p
  = link_to 'Edit', edit_report_sensor_path(@report, @sensor), :class => "btn btn-primary"
  = link_to 'Destroy', report_sensor_path(@report, @sensor), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
= link_to 'Back', report_sensors_path(@report), :class => "btn btn-secondary"
