%p#notice= notice

%p
  %b Moment:
  = @diary_entry.moment
%p
  %b release:
  = @diary_entry.release
%p
  %b Report:
  = @diary_entry.report.name

= link_to 'Back', report_diary_entries_path(@report), :class => "btn btn-secondary"
