.nested-fields
  .row
    .col.col-md-auto
      %label.trigger-number
        - if f.index == 'new_conditions'
          +
        - else
          = f.index + 1
    .col
      = f.association :sensor, collection:  Proc.new{ Sensor.order('name').find_each.collect { |s| [s.name_and_id, s.id, 'data-range-min'=> s.min, 'data-range-max' => s.max, 'data-range-step' => (10 ** - s.fractionDigits).to_f, 'data-range-unit' => s.unit ] } }, label: false, prompt: '...add Sensor', input_html: {class: 'choose_sensor'}
    .col.form-group.d-flex.align-items-center
      .range{data: {min: -20.0, max: 100.0, step: 1}}
        .row.range__fallback
          .col
            = f.input :from, label: false, input_html: {class: 'range__hidden range__hidden--min'}
          .col
            = f.input :to, label: false, input_html: {class: 'range__hidden range__hidden--max'}

    .col.col-md-auto
      = link_to_remove_association button_tag("×", type: 'button', class: 'btn btn-danger '), f


