.row
  .nested-fields
    .col-md-4
      = f.association :sensor, label_method: :name_and_id, value_method: :id
    .col-md-6
      .range-group
        = f.input :from, as: :string, input_html: { class: 'range-slider-min-value' }
        = f.input :to, as: :string, input_html: { class: 'range-slider-max-value' }
        %label Values
        .slider-group
          %input.slider-range{:type =>"text",
            :class => "slider form-control",
            'data-slider-id' => "slider-range",
            'data-provide'=> "slider",
            'data-slider-min'=>"0",
            'data-slider-max'=>"100",
            'data-slider-step'=>"1",
            'data-slider-range'=>true,
            'data-slider-value'=>"[#{f.object.from || 0 },#{f.object.to || 0}]",
            'data-slider-tooltip'=>"always",
            'data-slider-tooltip-split'=>"true"}
          .slider-info
            .slider-info-min
              0 °C
            .slider-info-max
              100 °C
    .col-md-2
      = f.label 'Remove condition'
      .btn-group.btn-group-justified{role: 'group'}
        .btn-group{role: 'group'}
          = link_to_remove_association button_tag("remove", type: 'button', class: 'btn btn-danger'), f


