= simple_form_for @trigger do |f|
  = f.error_notification

  .form-inputs
    = f.association :report, :as => :hidden, :input_html => {:value => @report_id }
    = f.input :name
    = f.input :priority, as: :radio_buttons, collection: Trigger.priorities.keys
    = f.input :timeliness_constraint, hint: "Text component will be triggered for sensor readings within the last X hours"
    #events
      = f.association :events, as: :check_boxes, label_method: :name_and_id
    %h3 Conditions
    #conditions
      = f.simple_fields_for :conditions do |condition|
        = render 'condition_fields', f: condition
      .links
        = link_to_add_association 'add condition', f, :conditions
    #text_components
      = f.association :text_components, label_method: :heading

  .form-actions
    %p
    = f.submit





