= simple_form_for(@text_component) do |f|
  = f.error_notification

  .form-inputs
    = f.association :report, :as => :hidden, :input_html => {:value => @report_id }
    #triggers
      = f.association :triggers, label_method: :name
    = f.input :from_day
    = f.input :to_day
    = f.input :heading
    = f.input :introduction
    = f.input :main_part
    = f.input :closing

  .form-actions
    = f.button :submit
