= simple_form_for(@text_component) do |f|
  = f.error_notification

  .form-inputs
    = f.association :report, :as => :hidden, :input_html => {:value => @report_id }
    #triggers
      = f.association :triggers, label_method: :name
    .row
      .col-md-6
        = f.input :from_day
      .col-md-6
        = f.input :to_day
    .row
      .col-sm-12
        %h2 Text
        %div.help Please write the text here. To add dynamic fields, like temperature values via toolbar.
      .col-sm-12
        / Split button
        .btn-group.pull-right
          %button.btn.btn-primary{:type => "button"}
            %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
            Ingredients
          %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %span.caret
            %span.sr-only
          %ul.dropdown-menu
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-picture{"aria-hidden" => "true"} 
                Picture
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-facetime-video{"aria-hidden" => "true"} 
                Video 
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-play{"aria-hidden" => "true"} 
                Audio
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-link{"aria-hidden" => "true"} 
                Link
            %li.divider{:role => "separator"}  
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-tag{"aria-hidden" => "true"} 
                Markup 1
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-tag{"aria-hidden" => "true"} 
                Markup 2
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-tag{"aria-hidden" => "true"} 
                Markup 3
    %div.seamless-textarea
      = f.input :heading, as: :text, placeholder: 'Title', label: false
      = f.input :introduction, as: :text, placeholder: 'Introduction', label: false
      = f.input :main_part, as: :text, placeholder: 'Main part', label: false, input_html: { rows: 10}
      = f.input :closing, as: :text, placeholder: 'Closing', label: false
  .form-actions
    = f.button :submit
