= simple_form_for(text_component, url: report_text_components_path(@report)) do |f|
  = f.error_notification

  .form-inputs
    = f.association :report
    .row
      .col-sm-12
        #triggers
          - if local_assigns[:create_trigger]
            = f.simple_fields_for :triggers do |trigger|
              = render 'triggers/trigger_fields', f: trigger, is_sub_form: true
          - else
            = f.association :triggers, label_method: :name, input_html: {'class' => 'selectpicker', 'data-live-search' => "true", 'title' => '...choose a trigger'}

    .row
      .col-sm-12
        = f.association :assignee, label_method: :name, input_html: {'title' => '...choose an assignee'}
    .row
      .col-sm-12
        #topic
          = f.association :topic, label_method: :name, input_html: {'class' => 'selectpicker', 'data-live-search' => "true", 'title' => '...choose a topic'}

    .row
      .col-sm-6
        = f.input :from_day
      .col-sm-6
        = f.input :to_day

    %h2 Text
    %p.help Please write the text here. To add dynamic fields, like temperature values via toolbar.
    .text-editor
      .text-editor__toolbar
        %ul.list-inline
          %li.dropdown
            .text-editor__toolbar__item.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Sensors
              %span.caret{"aria-hidden" => "true"}
            %ul.dropdown-menu
              - @sensors.each do |sensor|
                %li
                  %a{:href => "#", :data => {"editor" => {"markup-command" => "text", "markup-text" => "{value(#{sensor.id})}"}}}
                    = sensor.name
          %li.dropdown
            .text-editor__toolbar__item.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Events
              %span.caret{"aria-hidden" => "true"}
            %ul.dropdown-menu.text-editor__toolbar__dropdown__menu
              - @events.each do |event|
                %li
                  %a{:href => "#", :data => {"editor" => {"markup-command" => "text", "markup-text" => "{date(#{event.id})}"}}}
                    = event.name
      .seamless-textarea.text-component-input-fields
        = f.input :heading, as: :text, :placeholder => 'Title', :label => false, :input_html => { :class => 'text-editor__field'}
        = f.input :introduction, as: :text, :placeholder => 'Introduction', :label => false, :input_html => { :class => ['text-editor__field', 'introduction'] }
        = f.input :main_part, as: :text, :placeholder => 'Main part', :label => false, :input_html => { :rows => 10, :class => 'text-editor__field' }
        = f.input :closing, as: :text, :placeholder => 'Closing', :label => false, :input_html => { :class => 'text-editor__field'}
      %h2 Questions/Answers for Chatfuel
      .container-fluid
        = f.simple_fields_for :question_answers do |question_answer|
          = render 'question_answers/fields', f: question_answer
        .links
          .row
            = link_to_add_association button_tag("Add a question and an answer", type: 'button', class: 'btn btn-primary'), f, :question_answers, partial: 'question_answers/fields.html.haml'
    .row
      .col-sm-12
        %h2 Output
        #channels
          = f.association :channels
  .form-actions
    = f.button :submit
