:javascript
  var mySlider = $("input.slider").bootstrapSlider();
%h1 Edit Text Component
%hr
%i.fa.fa-info-circle
%strong Edit your text component titled »#{@text_component.heading}«. Kill your darlings!
%hr
= simple_form_for @text_component do |f|
  = f.error_notification
  .form-inputs
    .textcomponent.panel
      .textcomponent.panel.heading
        .textcomponent.panel-title= "Conditions"
      .textcomponent.panel-body
        %h4 Run Time Conditions
        #time
        day 1
        %input{:id =>"time_range", :type=>"text"}
        day 100
        :javascript
          new Slider('#time_range', {id: 'time_range_slider', min: 1, max: 100, range: true, value: [10, 30], tooltip_position:'bottom',tooltip_split:'true' });
        %hr    
        %h4 Event Conditions
        #events
          = f.association :events, as: :check_boxes, label_method: :name_and_id
        %hr
        %h4 Sensor Conditions
        #conditions
          = f.simple_fields_for :conditions do |condition|
            = render 'condition_fields', f: condition
        .links
          = link_to_add_association "add condition", f, :conditions
    .textcomponent.panel
      .textcomponent.panel.heading
        .textcomponent.panel-title= "Text"
      .textcomponent.panel-body
      = f.association :report, :as => :hidden, :input_html => {:value => Report.current.id }
      = f.input :heading
      = f.input :introduction
      = f.input :main_part
      = f.input :closing
      %p
    .textcomponent.panel
      .textcomponent.panel.heading
        .textcomponent.panel-title= "Behavior"
      .textcomponent.panel-body
      = f.input :priority, as: :radio_buttons, collection: TextComponent.priorities.keys
      = f.input :timeliness_constraint, hint: "Text component will be triggered for sensor readings within the last X hours"

  .form-actions
    = f.submit class:'btn btn-primary btn-md'




