= simple_form_for @text_component do |f|
  = f.association :report, :as => :hidden, :input_html => {:value => Report.current.id }
  = f.input :heading
  = f.input :introduction
  = f.input :main_part
  = f.input :closing
  %h3 Conditions
  #conditions
    = f.simple_fields_for :conditions do |condition|
      = render 'condition_fields', f: condition
    .links
      = link_to_add_association 'add condition', f, :conditions
  %p
  = f.submit




