%td.item-table__channels.align-middle{class: "text-#{text_component.css_status_class}"}
  %span{data: {toggle: 'tooltip'}, title: "#{text_component.channels.map{|c| c.name.humanize}.join(', ')} / #{text_component.publication_status.humanize}"}
    - if(text_component.channel_icons.count > 1)
      %span{class: ['fa', 'fa-ellipsis-h']}
    - else
      %span{class: ['fa', text_component.channel_icons.first]}

%td.align-middle
  = link_to(text_component.heading, report_text_component_path(text_component.report, text_component), {class: 'item-table__link'})

%td.small.text-center.align-middle.item-table__meta
  = "#{text_component.from_day} – #{text_component.to_day}"
  %br
  = TextComponent::TIME_FRAMES.find{ |name,value| value == text_component.timeframe }.first.gsub(/\(.*\)\s*/, '')

%td.item-table__actions.align-middle
  = link_to('', report_text_component_path(@report, text_component), |
      {class: ['item-table__action--show', 'fa', 'fa-eye'], title: 'Show Text Component', data: {toggle: 'tooltip'}})

  = link_to('', edit_report_text_component_path(@report, text_component), |
      {class: ['item-table__action--edit', 'fa', 'fa-pencil'], title: 'Edit Text Component', data: {toggle: 'tooltip'}})

  = link_to('', report_text_component_path(@report, text_component), |
      {method: :delete, class: ['item-table__action--destroy', 'fa', 'fa-trash'], title: 'Delete Text Component', data: {confirm: 'Are you sure?', toggle: 'tooltip'}})
