%td.item-table__channels.align-middle{class: text_component.table_highlight_class}
  %span{class: "text-#{text_component.status_class}", data: {toggle: 'tooltip'}, title: text_component.table_status_text}
    %span{class: ['fa', text_component.table_channel_icon]}
  - if text_component&.image&.exists?
    %span{class: "text-#{text_component.status_class}", data: {toggle: 'tooltip'}, title: 'Image uploaded'}
      %span{class: ['fa fa-image']}

%td.align-middle{class: text_component.table_highlight_class}
  = link_to(text_component.heading, report_text_component_path(@report, text_component), {class: 'item-table__link'})

%td.small.text-center.align-middle.item-table__meta{class: text_component.table_highlight_class}
  = "#{text_component.from_day} – #{text_component.to_day}"
  %br
  = text_component.displayed_timeframe

%td.item-table__actions.align-middle{class: text_component.table_highlight_class}
  = link_to('', report_text_component_path(@report, text_component), |
      {class: ['item-table__action--show', 'fa', 'fa-eye'], title: 'Show Text Component', data: {toggle: 'tooltip'}})

  = link_to('', edit_report_text_component_path(@report, text_component), |
      {class: ['item-table__action--edit', 'fa', 'fa-pencil'], title: 'Edit Text Component', data: {toggle: 'tooltip'}})

  = link_to('', report_text_component_path(@report, text_component), |
      {method: :delete, class: ['item-table__action--destroy', 'fa', 'fa-trash'], title: 'Delete Text Component', data: {confirm: 'Are you sure?', toggle: 'tooltip'}})
