%tr.text-component
  %td= text_component.heading
  %td= text_component.from_day
  %td= text_component.to_day
  %td
    %span{:class => ['label', "label-#{text_component.css_status_class}"]}= text_component.publication_status.humanize

  %td= link_to 'Show', report_text_component_path(@report, text_component)
  - if user_signed_in?
    %td
      %a{'href' => '#',"data-target" => "#editModal#{text_component.id}", "data-toggle" => "modal", :type => "button"} Edit
    %td= link_to 'Destroy', report_text_component_path(@report, text_component), :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    %td
    %td