%p
  %b
    = text_component.heading
%p
  %b Introduction:
  = text_component.introduction
%p
  %b Main part:
  = text_component.main_part
%p
  %b Closing:
  = text_component.closing
%p
  %b From day:
  = text_component.from_day
%p
  %b To day:
  = text_component.to_day
%p
  %b Publication Status:
  = text_component.publication_status
%hr
%p.assignee
  %b Assignee:
  = text_component.assignee_name
%hr
