-# 
%td
  .item-table__title
    .item-table__title__clip
      %span{:class => ['pill', "bg-#{text_component.css_status_class}"], title: text_component.publication_status.humanize, data: {toggle: 'tooltip'}}
      = text_component.heading
%td= text_component.from_day
%td= text_component.to_day
%td.item-table__actions
  = link_to report_text_component_path(@report, text_component) do
    %i.fa.fa-eye{title: 'View Text Component'}
  - if user_signed_in?
    %a{data: {target: "#editModal#{text_component.id}", toggle: 'modal'}, href: '#'}
      %i.fa.fa-pencil{title: 'Edit Text Component'}
    = link_to report_text_component_path(@report, text_component), method: :delete, :data => {confirm: 'Are you sure?'} do
      %i.fa.fa-trash{title: 'Delete Text Component'}