%tr.text-component
  %td= text_component.heading
  %td= text_component.from_day
  %td= text_component.to_day

  - if user_signed_in?
    %td
      %a{'href' => '#',"data-target" => "#editModal#{text_component.id}", "data-toggle" => "modal", :type => "button"}
        Edit

- if user_signed_in?
  %td= link_to 'Show', text_component
  %td= link_to 'Destroy', text_component, :method => :delete, :data => { :confirm => 'Are you sure?' }
