%h1 Text components

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Heading
      %th From day
      %th To day
      %th
      %th
      %th
  %tbody
    - @triggers.each do |trigger|
      %tr
        %td{colspan: 6}
          %strong= trigger.name
      - trigger.text_components.each do |text_component|
        %tr
          %td= text_component.heading
          %td= text_component.from_day
          %td= text_component.to_day
          %td= link_to 'Show', text_component
          %td= link_to 'Edit', edit_text_component_path(text_component)
          %td= link_to 'Destroy', text_component, :method => :delete, :data => { :confirm => 'Are you sure?' }
    - if @remaining_text_components
      %tr
        %td{colspan: 6}
          %strong Text components without triggers:
      - @remaining_text_components.each do |text_component|
        %tr
          %td= text_component.heading
          %td= text_component.from_day
          %td= text_component.to_day
          %td= link_to 'Show', text_component
          %td= link_to 'Edit', edit_text_component_path(text_component)
          %td= link_to 'Destroy', text_component, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Text component', new_text_component_path, :class => "btn btn-primary"


%br
%br

/ Button trigger modal
%button.btn.btn-primary.btn-lg{"data-target" => "#modalTriggerText", "data-toggle" => "modal", :type => "button"}
  Launch Trigger & Textkomponent modal
/ Modal
#modalTriggerText.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      /  %h4#myModalLabel.modal-title Modal title
      .modal-body
        %div
          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li{:role => "presentation"}
              %a{"aria-controls" => "use", "data-toggle" => "tab", :href => "#use", :role => "tab"} Use Trigger
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "create", "data-toggle" => "tab", :href => "#create", :role => "tab"} Create with new Trigger
          / Tab panes
          .tab-content
            #use.tab-pane{:role => "tabpanel"}
              / Modal 1
              .modal-inner
                .row
                  .col-md-12

                    .form-group#trigger1
                      %label{:for => "Sensor"} Trigger 1
                      %select.selectpicker#triggertype
                        %option Trigger type
                        %option Recently added
                        %option Weather
                        %option Health
                        %option Recurring tasks
                      %select.selectpicker#neutral
                        %option <- Select type first
                      %select.selectpicker#weather
                        %option Der_erste_Schnee
                        %option Frühlingsanfang
                        %option Sommeranfang  

                    .form-group#trigger2
                      %label{:for => "Sensor"} Trigger 2
                      %select.selectpicker
                        %option Trigger type
                        %option Recently added
                        %option Weather
                        %option Health
                        %option Recurring tasks
                      %select.selectpicker
                        %option <- Select type first

                    .add-trigger
                      %button.btn.btn-primary.right{:type => "button"} Add another trigger
                            
                  .col-md-6
                    .form-group
                      %label{:for => "Trigger"} Trigger
                      %select.selectpicker{:multiple => "multiple"}
                        %optgroup{:label => "Wetter"}
                          %option Schweres_Unwetter
                          %option Der_erste_Schnee
                          %option Frühlingsanfang
                          %option Sommeranfang
                        %optgroup{:label => "Befinden"}
                          %option Euterentzündung_festgestellt
                          %option Euterentzündung_überstanden
                          %option Kuh_sieht_krank_aus
                        %optgroup{:label => "Personen"}
                          %option Kuhbewerter_da
                          %option Klauenpfleger war da
                          %option BjörnErichsen_betritt_Stall
                      %select.selectpicker{:multiple => "multiple"}
                        %option Kalt in der Nacht
                        %option Warm in der Nacht
                        %option Sonnenschein am Morgen
                        %option Kalt in der Nacht
                        %option Warm in der Nacht
                        %option Sonnenschein am Morgen
                        %option Kuhbewerter_da
                        %option Klauenpfleger war da
                        %option BjörnErichsen_betritt_Stall
                  .col-md-6
                    .form-group
                      %label{:for => "Period"} Period 
                      %input{:type => "text",
                            :name => "somename",
                            'data-slider-id' => "slider-range",
                            'data-provide'=> "slider",
                            'data-slider-min'=>"0",
                            'data-slider-max'=>"100",
                            'data-slider-step'=>"1",
                            'data-slider-range'=>true,
                            'data-slider-value'=>"[33,66]",
                            'data-slider-tooltip'=>"always",
                            'data-slider-tooltip-split'=>"true",
                            }
                      .slider-info
                        .slider-info-min
                          0
                        .slider-info-max
                          100         
                  .col-md-12
                    .form-group
                      %label{:for => "Event"} By chance
                      %label.radio-inline
                        %input#inlineRadio2{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}/
                        %span.checkbox-button.value-yes High
                      %label.radio-inline
                        %input#inlineRadio2{:checked => "checked", :name => "inlineRadioOptions", :type => "radio", :value => "option2"}/
                        %span.checkbox-button.value-no Mid 
                      %label.radio-inline
                        %input#inlineRadio2{:name => "inlineRadioOptions", :type => "radio", :value => "option2"}/
                        %span.checkbox-button.value-no Low   
                  .col-md-12
                    .summary
                      %strong Sensor:  
                      %span Temperatur 1 11°C - 17°C
                      %strong Uhrzeit:  
                      %span 08:00 - 20:00 Uhr
                      %strong Timeless Constraint:  
                      %span 2
                      %strong Zufall:  
                      %span Ja
                      %strong Events:  
                      %span "Kalb ist geboren", "10.000 Liter Milch"
                  .col-md-12
                    = render 'form'    
  

            #create.tab-pane.active{:role => "tabpanel"}
              / Modal 2
              .modal-inner
                .row
                  .col-md-6
                    .form-group
                      %label{:for => "Triggername"} Triggername
                      %input#inputTriggername.form-control{:placeholder => "I am a Triggername", :type => "text"}/
                  .col-md-6
                    .form-group
                      %label{:for => "Sensor"} Sensor
                      %select.selectpicker
                        %option Temperatur 1
                        %option Temperatur 2
                        %option Temperatur 3
                .row
                  .col-md-6
                    .slider-group
                      %label Values
                      %input{:type => "text",
                            :name => "somename",
                            :class => "slider-temperature",
                            'data-slider-id' => "slider-range",
                            'data-provide'=> "slider",
                            'data-slider-min'=>"0",
                            'data-slider-max'=>"100",
                            'data-slider-step'=>"1",
                            'data-slider-range'=>true,
                            'data-slider-value'=>"[33,66]",
                            'data-slider-tooltip'=>"always",
                            'data-slider-tooltip-split'=>"true",
                            }
                      .slider-info
                        .slider-info-min
                          0 °C
                        .slider-info-max
                          100 °C        
                  .col-md-6
                    .slider-group
                      %label Timeliness Constraint
                      %input{:type => "text",
                             :name => "somename",
                             :class => "slider-minutes",
                             'data-slider-id' => 'slider-single',
                             'data-provide' => "slider",
                             'data-slider-min'=>"0",
                             'data-slider-max'=>"10",
                             'data-slider-step'=>"1",
                             'data-slider-value'=>"6",
                             'data-slider-tooltip'=>"always",
                             }
                      .slider-info
                        .slider-info-min
                          0
                        .slider-info-max
                          10       
                .row
                  .col-md-12
                    %button.btn.btn-primary{:type => "button"} add Sensor
                .row
                  .col-md-6
                    .form-group
                      %label{:for => "Event"} Event
                      %select.selectpicker
                        %option 5 Events
                        %option 2 Events
                        %option 1 Event
                  .col-md-6
                    .slider-group
                      %label Uhrzeit
                      %input{:type => "text",
                            :name => "somename",
                            :class => "slider-time-range",
                            'data-slider-id'=>"slider-range",
                            'data-provide'=>"slider",
                            'data-slider-min'=>"1",
                            'data-slider-max'=>"1439",
                            'data-slider-step'=>"60",
                            'data-slider-range'=>true,
                            'data-slider-value'=>"[480,1020]",
                            'data-slider-tooltip'=>"always",
                            'data-slider-tooltip-split'=>"true",
                            }
                      .slider-info
                        .slider-info-min
                          00:00
                        .slider-info-max
                          23:59      
                .row
                  .col-md-12
                    .summary
                      %strong Events: 
                      %apan "Licht an", "10.000 Liter Milch"           
                .row
                  .col-md-6
                    .form-group
                      %label{:for => "Event"} By chance
                      %label.radio-inline
                        %input#inlineRadio2{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}/
                        %span.checkbox-button.value-yes Yes
                      %label.radio-inline
                        %input#inlineRadio2{:name => "inlineRadioOptions", :type => "radio", :value => "option2"}/
                        %span.checkbox-button.value-no No  
                  .col-md-6
                    .form-group
                      %label Triggercolor
                      %ul.triggercolor 
                        %li.blue.active
                          %span 
                        %li.green
                          %span 
                        %li.cyan
                          %span  
                        %li.yellow
                          %span 
                        %li.red
                          %span 
                        %li.purple
                          %span                                                                                
                .row
                  .col-md-12
                    %label Textelements
                    .textelement-container
                      .textelement
                        %span
                          Image
                      .textelement
                        %span
                          Video
                      .textelement
                        %span
                          Image
                      .textelement
                        %span
                          Image      



                  .col-md-12
                    = render 'form'
                  .col-md-12
                    %button.btn.btn-primary{:type => "button"} Preview
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Discard
                    %button.btn.btn-primary{:type => "button"} Save



    -#  .modal-footer
    -#    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    -#    %button.btn.btn-primary{:type => "button"} Save changes


