<%= form_for :text_component, url: text_components_path do |f| %>
  <p>
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </p>
 
  <p>
    <%= f.label :introduction %><br>
    <%= f.text_area :introduction %>
  </p>
  <p>
    <%= f.label :main_part %><br>
    <%= f.text_area :main_part %>
  </p>
  <p>
    <%= f.label :closing %><br>
    <%= f.text_area :closing %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', text_components_path %>
