%h1 Overview Text Component
%hr
%strong This is your text component titled »#{@text_component.heading}« and the connected sensors. Read it or change it with EDIT.
%hr
%h3 Text
%p
  %strong Heading:
  = @text_component.heading
%p
  %strong Introduction:
  = @text_component.introduction
%p
  %strong Main Part:
  = @text_component.main_part
%p
  %strong Closing:
  = @text_component.closing
%hr
%h3 Behavior
%p
  %strong Priority:
  = @text_component.priority
%p
  %strong Within
  = "the last #{@text_component.timeliness_constraint} hours"
= link_to 'Edit', edit_text_component_path(@text_component), :class => "btn btn-primary"
= link_to 'Destroy', text_component_path(@text_component), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
= link_to 'Back', text_components_path, :class => "btn btn-secondary"
