<p>
  <strong>Heading:</strong>
    <%= @text_component.heading%>
</p>
 
<p>
  <strong>Introduction:</strong>
    <%= @text_component.introduction%>
</p>
<p>
  <strong>Main Part:</strong>
    <%= @text_component.main_part%>
</p>
<p>
  <strong>Closing:</strong>
    <%= @text_component.closing%>
</p>
<%= link_to 'Edit', edit_text_component_path(@text_component) %>
<%= link_to 'Destroy', text_component_path(@text_component), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', text_components_path %>
