= render 'edit_modal', text_component: @text_component
= render @text_component
%p
  %b Topic:
  = @text_component.topic_name
%p
  %h3 Question/Answer
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Question
        %th Answer
    %tbody
      = render @text_component.question_answers
      %p
  %h3 Triggers
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th
    %tbody
      = render @text_component.triggers
      %p
  %h3 Channels
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th
    %tbody
      - @text_component.channels.each do |channel|
        %tr
          %td
            = channel.name
          %td
            = link_to "Show", edit_channel_path(channel)

%p
  = link_to 'Back', text_components_path, {class: 'btn btn-default'}
  %button.btn.btn-primary.pull-right{"data-target" => "#editModal#{@text_component.id}", "data-toggle" => "modal", :type => "button"} Edit text component
