= render @text_component
%p
  %b Topic:
  = @text_component.topic_name
%p
  %h3 Triggers
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th
    %tbody
      = render @text_component.triggers
      %p
  %h3 Channels
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th
    %tbody
      - @text_component.channels.each do |channel|
        %tr
          %td
            = channel.name
          %td
            = link_to "Show", edit_report_channel_path(channel.report_id, channel)


= link_to 'Back', text_components_path
