= simple_form_for @report do |r|
  = r.input :name
  = r.input :start_date
  = r.input :duration
  = r.input :video, label: "Video URL"
  - unless @report.variables.empty?
    %h3 Custom variables
    = r.simple_fields_for :variables do |vf|
      = vf.input :value, label: vf.object.key
  = r.button :submit
