%h1 Settings for #{@report.name}
%p
  %strong Start Date:
  = @report.start_date
- if @report.end_date
  %p
    %strong End date:
    = @report.end_date
%p
  %strong Duration in days
  = @report.duration
%p
  %strong Video URL:
  = @report.video
= render 'variables'
= render 'channels'
= link_to 'Edit', edit_report_path(@report), :class => "btn btn-primary"
= link_to 'Back', reports_path, :class => "btn btn-secondary"
