.subnav
  .subnav__container.container

    .subnav__breadcrumb
      .subnav__message
        - if user_signed_in?
          Hey #{content_tag(:strong, current_user.name)}, you are currently looking at:
        - else
          You are currently looking at:

      .breadcrumb-nav
        - @subnav_items.each do |options|
          .breadcrumb-nav__item

            - if options.count > 1
              .select-btn.select-btn--caret
                = options.find{|o| o[:active]}[:name]

                %select.select-btn__select.nav-select
                  - options.each do |option|

                    %option{value: option[:url], selected: option[:active]}= option[:name]

            - else
              = options.first[:name]

        - if content_for?(:heading)
          .breadcrumb-nav__item{title: yield(:heading).strip}
            = yield :heading
              
    - if user_signed_in?
      .subnav__actions
        .subnav__message
          Create something new!

        .btn-group
          %a.btn.btn-primary{href: @primary_action[:url]}
            = @primary_action[:name]

          %a.select-btn.btn.btn-primary.dropdown-toggle.dropdown-toggle-split{href: '#', onclick: 'return false'}
            %select.select-btn__select.nav-select
              %option{selected: true, disabled: true} Create something new!
              - @secondary_actions.each do |action|
                %option{value: action[:url]}= action[:name]