!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "story.board"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body


    .navbar.navbar-expand-md.navbar-inverse.bg-inverse
      .container

        %a.navbar-brand(href="/") story.board

        %a.navbar-toggler.navbar-toggler{:data => {:toggle => 'collapse', :target => '#main-nav'}}
          %span.navbar-toggler-icon

        .collapse.navbar-collapse#main-nav

          %ul.navbar-nav.mr-auto
            %li.nav-item
              .dropdown
                %a.nav-link.dropdown-toggle{:data => {:toggle => 'dropdown'}, :href => "#"} Elements
                %ul.dropdown-menu
                  %li= link_to 'Sensors', report_sensors_path(@report), :class => 'dropdown-item'
                  %li= link_to 'Events', events_path, :class => 'dropdown-item'
                  %li= link_to 'Actuators', actuators_path, :class => 'dropdown-item'
                  %li= link_to 'Chains', chains_path, :class => 'dropdown-item'
            %li.nav-item= link_to 'Triggers', report_triggers_path(@report), :class => 'nav-link'
            %li.nav-item= link_to 'Text Components', report_text_components_path(@report), :class => 'nav-link'
            %li.nav-item
              %div.dropdown
                %a.nav-link.dropdown-toggle{:data => {:toggle => 'dropdown'}, :href => '#'} Report Settings
                %ul.dropdown-menu
                  - Report.find_each do |report|
                    %li= link_to report.name, report_path(report), :class => 'dropdown-item'

          %ul.navbar-nav
            %li.nav-item
              - if user_signed_in?
                .dropdown
                  %a.nav-link.dropdown-toggle#user-menu{:data => {:toggle => 'dropdown'}, :href => "#"}= current_user.name
                  %ul.dropdown-menu.dropdown-menu-right
                    %li= link_to 'My Text Components', report_text_components_path(@report, filter: {assignee_id: [current_user.id]}), :class => 'dropdown-item'
                    %li= link_to 'My Account', edit_user_registration_path, :class => 'dropdown-item'
                    %li= link_to 'Log Out', destroy_user_session_path, :method => :delete, :class => 'dropdown-item'
              - else
                %li.nav-item
                  = link_to 'Log In', new_user_session_path, :class => 'nav-link'


    .container.py-5
      .row

        .col-lg-9
          = bootstrap_flash
          = yield

        .col-lg-3

          .card.bg-faded
            .card-block

              %h3 Current report
              %ul#report-menu-current.nav.nav-list
                %h5= @report.name
                - if current_user
                  %li= link_to 'My text components', report_text_components_path(@report, filter: {assignee_id: [current_user.id]})
                %li= link_to "Live-System", "/reports/current"
                %li= link_to "Preview", "/reports/current?preview=true"

              %h3 Switch report
              %ul.nav.nav-list.report-menu
                - Report.find_each do |report|
                  %ul.nav.nav-pills
                    %li.nav-item= link_to report.name, present_report_path(report), {class: 'nav-link'}

      %footer.py5
        = "story.board. The CMS for Sensorstories. Created 2015-#{Date.today.year} by Robert Schäfer and Jakob Vicari. No Reporters Were Harmed."
