!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "story.board"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/") story.board
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li.dropdown.elements
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Elements
                %span.caret
              %ul.dropdown-menu
                %li= link_to "Sensors", sensors_path
                %li= link_to "Events", events_path
                %li= link_to "Actuators", actuators_path
                %li= link_to "Chains", chains_path
            %li= link_to "Triggers", triggers_path
            %li= link_to "Text Components", text_components_path
            %li.dropdown.settings
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Reports
                %span.caret
              %ul.dropdown-menu
                - Report.find_each do |report|
                  %li
                    %a{:href => report_path(report)}=report.name
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = current_user.email
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Log out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Log In', new_user_session_path

    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
        .col-lg-3
          .well.sidebar-nav
            %h3 Reports
            %ul.nav.nav-list
              %li.nav-header What your readers see
              %li= link_to "Live-System", "/reports/current"
              %li= link_to "Preview", "/reports/current?preview=true"
      %footer
        .row
          .col-sm-8
            %p
              Text (c) Dr. Jakob Vicari. No Reporters Were Harmed. Gefördert durch  
          .col-sm-4
            =image_tag("miz-logo_v1_schrift_rechts@2x.png", height: '30', width: '250')
  

         
